@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #d0ceff, #d6dbd7, #c1cfff);
    /* background: linear-gradient(135deg, #243748, #4b749f, #c2f8ff); */
    height: fit-content;
}